<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="listing">
        <form action="/listings" method="POST" novalidate class="needs-validation">

        <input type="text" placeholder="Enter Title" name="listing[title]" required>
        <input type="text" placeholder="Enter Price" name="listing[price]" required>
        <br>
        <textarea name="listing[description]" id="description" cols="30" rows="20" required></textarea>
        <input type="text" placeholder="Enter Location" name="listing[location]" required>
        <input type="text" placeholder="Enter country" name="listing[country]" required>
            <button>Submit</button>
        </form>
        <h1>Image Addition Coming soon</h1>

    </div>
</body>
