<% layout("/layouts/boilerplate.ejs") %>

<main>
    <h1>Add New Listing</h1>
    <div class="form-card">
        <form action="/listings" method="POST" novalidate class="needs-validation">

            <div class="form-group">
                <div class="mb-2 w-100">
                    <input type="text" class="form-control" placeholder="Enter Title" name="listing[title]" required>
                    <div class="invalid-feedback">Title is required.</div>
                </div>
                <div class="mb-2 w-100">
                    <input type="text" class="form-control" placeholder="Enter Price" name="listing[price]" required>
                    <div class="invalid-feedback">Price is required.</div>
                </div>
            </div>
            
            <div class="form-group">
                <textarea class="form-control" name="listing[description]" id="description" rows="5" required placeholder="Enter description..."></textarea>
                <div class="invalid-feedback">Description is required.</div>
            </div>

            <div class="form-group mt-2">
                <div class="mb-2 w-100">
                    <input type="text" class="form-control" placeholder="Enter Location" name="listing[location]" required>
                    <div class="invalid-feedback">Location is required.</div>
                </div>
                <div class="mb-2 w-100">
                    <input type="text" class="form-control" placeholder="Enter Country" name="listing[country]" required>
                    <div class="invalid-feedback">Country is required.</div>
                </div>

<!-- image input starts below                 -->
                 <div class="mb-2 w-100">
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Image filename (optional)"
                    name="listing[image][filename]"
                    >
                </div>
                <div class="invalid-feedback">if no name old name will be used</div>
               

                <div class="mb-2 w-100">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Enter image URL"
                        name="listing[image][url]"
                    >
                </div>
                
               
               <div class="invalid-feedback">If no url, old image url will be used</div>
<!-- image input ends above -->

            </div>

            <div class="form-group">
                <button class="btn btn-primary mt-3">Submit</button>
            </div> 
        </form>
    </div>
   
</main>

