<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="listing">
        <form action="/listings" method="POST">

        <input type="text" placeholder="Enter Title" name="listing[title]">
        <input type="text" placeholder="Enter Price" name="listing[price]">
        <br>
        <textarea name="listing[description]" id="description" cols="30" rows="20"></textarea>
        <input type="text" placeholder="Enter Location" name="listing[location]">
        <input type="text" placeholder="Enter country" name="listing[country]">
            <button>Submit</button>
        </form>
        <h1>Image Addition Coming soon</h1>

    </div>
</body>
