<% layout("/layouts/boilerplate.ejs") %>

<main>

    <div class="all-listings">
    <% for (review of reviews) %>
    <!-- <a href="/listings/<%=listing.id%>/reviews/<%=review.id%>"></a> -->

    <div class="card mb-3">
        <h1>review.rating</h1>
        <p>review.comment</p>

    </div>


    </div>

</main>